<div
  class="flex h-screen antialiased text-gray-900 bg-gray-100 dark:bg-dark dark:text-light"
>
  <!-- Sidebar -->
  <aside
    class="sidebar hidden md:block flex-shrink-0 w-64 h-full border-r dark:border-primary-darker dark:bg-darker md:block bg-white"
  >
    <div class="flex flex-col h-full">
      <!-- Logo Section -->
      <div class="logoImage p-4 border-b">
        <img
          src="../../../../assets/logo.png"
          alt="Logo"
          class="w-32 h-32 mx-auto transition-transform duration-300 hover:scale-105"
        />
      </div>

      <!-- Navigation -->
      <nav
        class="flex-1 px-2 py-2 space-y-2 overflow-y-hidden hover:overflow-y-auto"
      >
        <div class="mt-8">
          <!-- Dashboard Link -->
          <a
            routerLink=""
            [class.activeLink]="isActive('')"
            class="menuLink flex items-center p-3 rounded-lg transition-all duration-300 ease-in-out hover:scale-105"
          >
            <svg
              class="w-6 h-6 transition-colors duration-300"
              [ngClass]="{
                'fill-primary': !isActive(''),
                'fill-white': isActive('')
              }"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path
                d="M12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 6.47715 6.47715 2 12 2ZM12 4C7.58172 4 4 7.58172 4 12C4 16.4183 7.58172 20 12 20C16.4183 20 20 16.4183 20 12C20 7.58172 16.4183 4 12 4ZM12 5C13.018 5 13.9852 5.21731 14.8579 5.60806L13.2954 7.16944C12.8822 7.05892 12.448 7 12 7C9.23858 7 7 9.23858 7 12C7 13.3807 7.55964 14.6307 8.46447 15.5355L7.05025 16.9497L6.89445 16.7889C5.71957 15.5368 5 13.8525 5 12C5 8.13401 8.13401 5 12 5ZM18.3924 9.14312C18.7829 10.0155 19 10.9824 19 12C19 13.933 18.2165 15.683 16.9497 16.9497L15.5355 15.5355C16.4404 14.6307 17 13.3807 17 12C17 11.552 16.9411 11.1178 16.8306 10.7046L18.3924 9.14312ZM16.2426 6.34315L17.6569 7.75736L13.9325 11.483C13.9765 11.6479 14 11.8212 14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12C10 10.8954 10.8954 10 12 10C12.1788 10 12.3521 10.0235 12.517 10.0675L16.2426 6.34315Z"
              ></path>
            </svg>
            <span
              class="ml-3 font-medium transition-colors duration-300"
              [ngClass]="{
                'text-gray-700': !isActive(''),
                'text-white': isActive('')
              }"
              >Dashboard</span
            >
          </a>

          <a
            routerLink="administration/annee-academique"
            [class.activeLink]="isActive('administration/annee-academique')"
            class="menuLink flex items-center p-3 rounded-lg transition-all duration-300 ease-in-out hover:scale-105"
          >
            <svg
              class="w-6 h-6 transition-colors duration-300"
              [ngClass]="{
                'fill-primary': !isActive(''),
                'fill-white': isActive('')
              }"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
              <path
                d="M9 1V3H15V1H17V3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9ZM20 11H4V19H20V11ZM11 13V17H6V13H11ZM7 5H4V9H20V5H17V7H15V5H9V7H7V5Z"
              ></path>
            </svg>
            <span
              class="ml-3 font-medium transition-colors duration-300"
              [ngClass]="{
                'text-gray-700': !isActive(''),
                'text-white': isActive('')
              }"
              >Année académique</span
            >
          </a>

           <a
            routerLink="administration/annonce"
            [class.activeLink]="isActive('administration/annonce')"
            class="menuLink flex items-center p-3 rounded-lg transition-all duration-300 ease-in-out hover:scale-105"
          >
            <svg
              class="w-6 h-6 transition-colors duration-300"
              [ngClass]="{
                'fill-primary': !isActive(''),
                'fill-white': isActive('')
              }"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
            >
            <path
            d="M21 10.063V4C21 3.44772 20.5523 3 20 3H19C17.0214 4.97864 13.3027 6.08728 11 6.61281V17.3872C13.3027 17.9127 17.0214 19.0214 19 21H20C20.5523 21 21 20.5523 21 20V13.937C21.8626 13.715 22.5 12.9319 22.5 12 22.5 11.0681 21.8626 10.285 21 10.063ZM5 7C3.89543 7 3 7.89543 3 9V15C3 16.1046 3.89543 17 5 17H6L7 22H9V7H5Z"
            ></path>
            </svg>
            <span
              class="ml-3 font-medium transition-colors duration-300"
              [ngClass]="{
                'text-gray-700': !isActive(''),
                'text-white': isActive('')
              }"
              >Annonce</span
            >
          </a>
        </div>
      </nav>
    </div>
  </aside>

  <!-- Main Content -->
  <div class="flex-1 h-full overflow-x-hidden overflow-y-auto">
    <!-- Header -->
    <header class="relative bg-white dark:bg-darker">
      <div
        class="flex items-center justify-between p-2 border-b dark:border-primary-darker"
      >
        <!-- Mobile menu button -->

        <!-- Toggle Button -->
        <button
          (click)="toggleSidebar()"
          class="p-2 rounded-lg transition-colors md:hidden duration-300 hover:bg-gray-100"
        >
          <svg
            class="w-6 h-6 transition-transform duration-300"
            [ngClass]="{ 'rotate-180': !isSidebarOpen }"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>

        <!-- Brand -->
        <!-- Title -->
        <h1 class="text-2xl font-bold">
          <span class="text-[#0873B5]">A</span>
          <span class="text-[#DC8621]">dmin</span>
        </h1>

        <!-- User Menu -->
        <div class="relative">
          <button
            (click)="toggleUserDropdown()"
            class="flex items-center space-x-3 p-2 rounded-lg transition-all duration-300 hover:bg-gray-100"
          >
            <img
              src="assets/man-user-circle-icon.png"
              class="w-8 h-8 rounded-full border-2 border-[#0873B5] transition-transform duration-300 hover:scale-105"
            />
          </button>

          <!-- Dropdown Menu -->
          <div
            class="absolute right-0 mt-2 w-48 bg-white rounded-lg shadow-lg overflow-hidden transition-all duration-300 ease-in-out"
            [ngClass]="{
              'dropdown-closed': !isDropDownPanelOpen,
              'dropdown-open': isDropDownPanelOpen
            }"
          >
            <a
              href="#"
              class="block px-4 py-2 text-gray-700 transition-colors duration-300 hover:bg-[#0873B5] hover:text-white"
            >
              Profile
            </a>
            <a
              href="#"
              class="block px-4 py-2 text-gray-700 transition-colors duration-300 hover:bg-[#0873B5] hover:text-white"
            >
              Settings
            </a>
            <button
              (click)="logout()"
              class="block w-full px-4 py-2 text-left text-gray-700 transition-colors duration-300 hover:bg-[#0873B5] hover:text-white"
            >
              Logout
            </button>
          </div>
        </div>
      </div>
    </header>

    <!-- Mobile Navigation Menu -->
    <!-- <nav [class.hidden]="isMobileMenuOpen" class="md:hidden bg-primary px-2 py-4">
      <a routerLink=""
         [class.activeLink]="isActive('')"
         class="block p-2 text-white rounded-md hover:bg-primary-dark">
        Dashboard
      </a>
      <a routerLink="maison"
         [class.activeLink]="isActive('maison')"
         class="block p-2 mt-2 text-white rounded-md hover:bg-primary-dark">
        Année scolaire
      </a>
      <a routerLink="chambre"
         [class.activeLink]="isActive('chambre')"
         class="block p-2 mt-2 text-white rounded-md hover:bg-primary-dark">
        Annonce
      </a>
    </nav> -->

    <div
      class="md:hidden transition-all duration-300 ease-in-out"
      [ngClass]="{
        'h-0 opacity-0': !isSidebarOpen,
        'h-auto opacity-100': isSidebarOpen
      }"
    >
      <nav class="bg-white shadow-lg p-4 space-y-2">
        <a
          routerLink=""
          [class.activeLink]="isActive('')"
          class="block p-3 rounded-lg transition-all duration-300 hover:bg-[#DC8621] hover:text-white"
        >
          Dashboard
        </a>
      </nav>
    </div>

    <!-- Main Content -->
    <main class="p-6">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>




<app-loader *ngIf="isLoading"></app-loader>
