.bar,
.sidebar{
  background:#ffffff;
}


.background_button svg {
  stroke: #f8bd0d;

}

.background_button
{
  background-color:  #0e2f4f
}

.background_button:hover{
  background-color:  #0e2f4f
}


.logo{
  color: #0e2f4f;
}
.logo span{
  color: #f8bd0d;
}

.logoImage
{
  width: 8rem;
  height: 8rem;
  position: relative;
  padding: 1rem;
}

.logoImage img{
  position: absolute;
  background: rgba(255, 255, 255, 0.603);
  border-radius: 100%;
  left: 50%; top: 50%;
  margin-top: 1rem;
  transform: translate(0%,-50%);
}


.menuLink:hover{
  background: #FFDE59;
}


.Navbar svg{
  width: 2em; height:2em;
}

.Navbar a{
  margin: 1.5rem 0;
}


.barre{
  background: #0e2f4f;
  display: flex;
  align-items: center;
  color: #f8bd0d;
}

.panelContent{
  background: #0e2f4f;
}

.panelContent svg{
  stroke: #f8bd0d;
}

.Backdrop{
  background: #0e2f4f;
}






.black_and_White{
  fill:  #f8bd0d;
}




.menuLink:hover .black_and_White{
  fill:  #0e2f4f;
}

.otherPartie{
  fill: rgb(255, 255, 255);
}

.menuLink:hover .otherPartie{
  fill: rgb(255, 255, 255);
}

/* .svg-icon{
  font-size: 1.4rem;
} */
.activeLink {
  background: #f8bd0d;
  /* color: black;
  fill: #0e2f4f; */
}

.otherActiveLink {
  background: #000000;
  color: black;
  fill: rgb(255, 255, 255);
}




